body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}